footer.footer
    .container 
        .footer__wrap 
            .footer__left
                .footer__copy
                    | © 2022
                    br
                    | ООО «АЛЛСЕТ»
                a.footer__price(href="/price.html") Тарифы
            .footer__soc
                a(href="#")
                    img(src="../img/main/vk.svg", alt="") 
                a(href="#")
                    img(src="../img/main/telegram.svg", alt="") 
                a(href="#")
                    img(src="../img/main/wa.svg", alt="") 
            .footer__right
                .footer__title
                    span Подпишитесь на рассылку
                    | и получайте самые актуальные новости от Allset!
                form.footer__form
                    input(placeholder="E-mail" required)
                    button
                        img(src="../img/main/footer-form.svg", alt="") 
        .footer__bottom
            a.footer__rules(href="/policy.html") Правила использования платформы
            a.footer__polit(href="/policy.html") Политика конфиденциальности
            a.footer__dev(href="#")
                | Разработка сайта
                img(src="../img/main/hero-logo.svg", alt="") 