header.header.header-home
    .container
        .header__wrap
            .header__call.header-home__call
                | Помощь по любым вопросам:
                img(src="../img/main/call.svg", alt="")
                a(href="tel:8 (800) 250-ХХ-ХХ") 8 (800) 250-ХХ-ХХ
            a.header__login(href="/login.html")
                | Войти
                img(src="../img/main/login.svg", alt="")
            .header__country
                .header__country-top
                    span Россия
                    img(src="../img/main/drop.svg", alt="")
                .header__country-drop
                    a(href="#") ОАЭ
                    a(href="#") Россия
                    a(href="#") Киргизия
                    a(href="#") Казахстан
                    a(href="#") Беларусь
                    a(href="#") Азербайджан
                    a(href="#") Армения
                    a(href="#") Грузия
                    a(href="#") Узбекистан
                    a(href="#") Таджикистан
                    a(href="#") Турция
            .header__lang
                .header__lang-top
                    span Rus
                    img(src="../img/main/drop.svg", alt="")
                .header__lang-drop
                    a(href="#") Rus
                    a(href="#") Eng
                    a(href="#") Aze
                    a(href="#") Ara
                    a(href="#") Bel
                    a(href="#") Geo
                    a(href="#") Kaz
                    a(href="#") Kyr
                    a(href="#") Deu
                    a(href="#") Tgk
                    a(href="#") Tur
                    a(href="#") Uzb
            a.header__menu
                img(src="../img/main/menu.svg", alt="")