// Script

script(src="js/main.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js") 
script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
script(src="https://cdn.jsdelivr.net/npm/nicescroll@3.7.4/jquery.nicescroll.js") 
script(src="js/custom.js")
// Script