section.lk 
    .container 
        h1.lk__title Личный кабинет
        .lk__main 
            ul.lk__menu 
                li 
                    a(href="/lk-s-main.html").active Настройки 
                li 
                    a(href="/lk-s-res.html") Резюме
            a.lk__logout(href="/")
                | Выйти
                img(src="img/pages/logout.svg", alt="")
        .lk__cont 
            .lk-s-main__top 
                label.lk-s-main__img
                    input(type="file", name="")
                    img(src="img/pages/lk-person.png", alt="")
                    .lk-s-main__img-hover 
                        img(src="img/pages/lk-img.svg", alt="")
                        span Изменить фото
                .lk-s-main__name Иванов Иван
            form.lk-s-main__form
                label
                    | Имя*
                    input(type="text" required)
                label
                    | Телефон*
                    input(type="tel" required)
                label
                    | Фамилия*
                    input(type="text" required)
                label
                    | Страна
                    .lk-select
                        input(type="hidden", name="", value="Россия")
                        .lk-select__top Россия
                        .lk-select__drop 
                            a(href="") Россия
                            a(href="") Россия2
                            a(href="") Россия3
                            a(href="") Россия4
                            a(href="") Россия5
                label
                    | Дата рождения
                    input(type="text" required)
                label
                    | Регион
                    .lk-select
                        input(type="hidden", name="", value="Санкт-Петербург")
                        .lk-select__top Санкт-Петербург
                        .lk-select__drop 
                            a(href="") Санкт-Петербург
                            a(href="") Санкт-Петербург2
                            a(href="") Санкт-Петербург3
                            a(href="") Санкт-Петербург4
                            a(href="") Санкт-Петербург5
                label
                    | E-mail*
                    input(type="email" required)
                label
                    | Пароль
                    input(type="password" required)
                .lk-s-main__bottom 
                    button.btn.btn--full Сохранить