section.login
    .container
        h1.login__title.back__title Восстановление доступа
        p.login__subtitle Создайте новый надежный пароль, который не используете на других веб-сервисах
        form.login__form.back__form
            input(type="password" placeholder="Новый пароль" required)
            input(type="password" placeholder="Повторите пароль" required)
            button Войти с использованием нового пароля
