section.login
    .container
        h1.login__title Забыли пароль?
        p.login__subtitle Введите ваш e-mail, который указывали при регистрации, чтобы мы смогли вам выслать инструкцию по сбросу пароля
        form.login__form
            input(type="email" placeholder="E-mail" required)
            button Изменить пароль
        a.login__reg(href="/login.html") Вернуться к входу
