section.error
    .container
        .error__wrap
            h1.error__title Страница не найдена
            p.error__descr К сожалению, мы не можем найти запрашиваемую вами страницу. Пожалуйста, вернитесь на главную страницу.
            .error__img
                img(src="../img/pages/404.svg", alt="")
            a.error__link(href="/") Вернуться на главную