section.about-top
    .container
        .about-top__wrap
            h1.about-top__title Сервис для поиска работы и&nbsp;подбора персонала
.about
    .container
        .about__wrap
            .about__block
                .about__icon
                    img(src="../img/pages/about1.svg", alt="")
                .about__name Для соискателей
                .about__descr Мы даем возможность найти любимую работу, круто зарабатывать и планировать свою карьеру.
                .about__item
                    .about__item-img
                        img(src="../img/pages/about-dop1.svg", alt="")
                    .about__item-text
                        b Lorem Ipsum
                        |— это текст-"рыба", часто используемый в печати и вэб-дизайне.
                .about__item
                    .about__item-img
                        img(src="../img/pages/about-dop2.svg", alt="")
                    .about__item-text
                        b Lorem Ipsum
                        | — это текст-"рыба", часто используемый в печати и вэб-дизайне.
                .about__item
                    .about__item-img
                        img(src="../img/pages/about-dop3.svg", alt="")
                    .about__item-text
                        b Lorem Ipsum
                        | — это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .about__block
                .about__icon
                    img(src="../img/pages/about2.svg", alt="")
                .about__name Для работодателей
                .about__descr Мы даем возможность найти любимую работу, круто зарабатывать и планировать свою карьеру.
                .about__item
                    .about__item-img
                        img(src="../img/pages/about-dop1.svg", alt="")
                    .about__item-text
                        b Lorem Ipsum
                        | — это текст-"рыба", часто используемый в печати и вэб-дизайне.
                .about__item
                    .about__item-img
                        img(src="../img/pages/about-dop2.svg", alt="")
                    .about__item-text
                        b Lorem Ipsum
                        | — это текст-"рыба", часто используемый в печати и вэб-дизайне.
                .about__item
                    .about__item-img
                        img(src="../img/pages/about-dop3.svg", alt="")
                    .about__item-text
                        b Lorem Ipsum
                        | — это текст-"рыба", часто используемый в печати и вэб-дизайне.
section.about-main
    .container
        .about-main__block
            .about-main__img
                img(src="../img/pages/about-main1.png", alt="")
            .about-main__cont
                h3.about-main__title Миссия
                p.about-main__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
        .about-main__block
            .about-main__img
                img(src="../img/pages/about-main2.png", alt="")
            .about-main__cont
                h3.about-main__title Цели
                p.about-main__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
        .about-main__block
            .about-main__img
                img(src="../img/pages/about-main3.png", alt="")
            .about-main__cont
                h3.about-main__title Услуги
                p.about-main__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.
section.team
    .container
        h2.team__title Наша команда
        p.team__subtitle В сервисе Allset уже более 450 сотрудников, которые работают в более 20 городах.
        .swiper
            .team__wrap.swiper-wrapper
                .team__block.swiper-slide
                    .team__img
                        img(src="../img/pages/team1.jpg", alt="")
                    .team__name Петр Иванов
                    .team__descr CEO сервиса
                .team__block.swiper-slide
                    .team__img
                        img(src="../img/pages/team2.jpg", alt="")
                    .team__name Мария Петрова
                    .team__descr Директор по персоналу и организационному развитию
                .team__block.swiper-slide
                    .team__img
                        img(src="../img/pages/team3.jpg", alt="")
                    .team__name Лев Иванов
                    .team__descr Коммерческий директор
                .team__block.swiper-slide
                    .team__img
                        img(src="../img/pages/team4.jpg", alt="")
                    .team__name Иван Иванов
                    .team__descr Зам. генерального директора
                .team__block.swiper-slide
                    .team__img
                        img(src="../img/pages/team5.jpg", alt="")
                    .team__name Андрей Иванов
                    .team__descr Директор по продуктам
            .team__arrows
                .team__prev
                    img(src="../img/pages/team-prev.svg", alt="")
                .team__next
                    img(src="../img/pages/team-next.svg", alt="")