section.article-top(style="background: url('../img/pages/article.jpg');")
    .container
        h1.article-top__title Рынок труда и&nbsp;зарплаты в&nbsp;сфере дизайна
        .article-top__date 28.09.2022
section.article
    .container
        .article__wrap
            .article__cont
                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                h2 Откуда он появился?
                p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32
                p Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.
                q Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
                p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                .quote
                    .quote__img
                        img(src="../img/pages/quote.png", alt="")
                    .quote__text
                        |Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.
                        span Иван Иванович, директор Бренд-центра Allset
                a(href="") Классический текст Lorem Ipsum
                span Итак, представляем финалистов Премии HR-Бренд 2021.
                br
                br
                ul
                    li Номинация «Мир»
                    li Номинация «Федерация»
                    li Номинация «Регион»
                    li Номинация «Столица»
                    li Номинация «Малый бизнес»
                    li Номинация «Северная столица»
            .article-aside
                .article-aside__title Актуальные новости
                a.article-aside__block(href="/article.html")
                    span.article-aside__date 01.10.2022
                    span.article-aside__name Какой английский нужен в ИТ-компаниях?
                    span.article-aside__img
                        img(src="../img/pages/news.jpg", alt="")
                    span.article-aside__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице...
                    span.article-aside__link
                        span
                        img(src="../img/pages/article-link.svg", alt="")
                a.article-aside__block(href="/article.html")
                    span.article-aside__date 01.10.2022
                    span.article-aside__name Какой английский нужен в ИТ-компаниях?
                    span.article-aside__img
                        img(src="../img/pages/news.jpg", alt="")
                    span.article-aside__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице...
                    span.article-aside__link
                        span
                        img(src="../img/pages/article-link.svg", alt="")
                a.article-aside__block(href="/article.html")
                    span.article-aside__date 01.10.2022
                    span.article-aside__name Какой английский нужен в ИТ-компаниях?
                    span.article-aside__img
                        img(src="../img/pages/news.jpg", alt="")
                    span.article-aside__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице...
                    span.article-aside__link
                        span
                        img(src="../img/pages/article-link.svg", alt="")
        .article-share
            span Поделиться:
            script(src='https://yastatic.net/share2/share.js')
            .ya-share2(data-curtain='' data-shape='round' data-color-scheme='whiteblack' data-services='messenger,vkontakte,odnoklassniki,telegram,twitter,whatsapp')
        .article__nav
            a.article__prev(href="")
                span Предыдущая новость
                .article__arrow
                    img(src="../img/pages/article-prev.svg", alt="")
            span
            a.article__next(href="")
                span Следующая новость
                .article__arrow
                    img(src="../img/pages/article-next.svg", alt="")