section.employer
    .container 
        h1.employer__title JetBrains
        .employer__top 
            .employer__img 
                img(src="img/pages/vacancy.png", alt="")
            .employer__text 
                p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32
section.employer-main
    .container 
        h2.employer-main__title Реквизиты компании
        .contacts-dop__wrap
            .contacts-dop__col
                .employer-main__block
                    .contacts-dop__subtitle Полное наименование юридического лица:
                    .contacts-dop__text ООО «JetBrains»
                    .contacts-dop__list
                        .contacts-dop__el
                            span ИНН:
                            |7705698870
                        .contacts-dop__el
                            span КПП:
                            |770124001
                        .contacts-dop__el
                            span ОГРН:
                            |5147756824134
                .employer-main__block
                    .contacts-dop__subtitle Банковские реквизиты:
                    .contacts-dop__text 7705698870
                .employer-main__block
                    .contacts-dop__subtitle Данные ЭДО:
                    .contacts-dop__text 2BM-9545325567-545634333-4567854540090890080065
            .contacts-dop__col
                .employer-main__block
                    .contacts-dop__subtitle Юридический адрес:
                    .contacts-dop__text Россия, Санкт-Петербург, Итальянская ул., 10/3
                .employer-main__block
                    .contacts-dop__subtitle Фактический адрес:
                    .contacts-dop__text Россия, Санкт-Петербург, Малая разночинная 9, офис 508
                .employer-main__block
                    .contacts-dop__subtitle Контакты:
                    .vacancy__cont
                        span 
                            img(src="img/main/world.svg", alt="")
                            | jetbrains.com
                .employer-main__block
                    .contacts-dop__subtitle Контактное лицо: Дмитрий Петров
                    .vacancy__cont
                        span
                            img(src="../img/pages/email.svg", alt="")
                            | pr@allset.ru
                        span
                            img(src="../img/pages/phone.svg", alt="")
                            | 8 (800) 250-XX-XX
section.employer-more 
    .container 
        h2.employer-more__title Вакансии компании
        .employer-more__wrap
            a.catalog__block(href="")
                button.catalog__wish    
                    img(src="../img/main/wish.svg", alt="")
                .catalog__name Графический дизайнер
                .catalog__price 80 000 – 150 000 ₽
                .catalog__links
                    span Сбер банк 
                    span Санкт-Петербург
                .catalog__descr Проектирование и дизайн интерфейсов и сайтов. Внесение предложений по улучшению UX/UI проекта. Подготовка графических элементов и их экспорт для дальнейшего объединения в проектах...
                .catalog__bottom 
                    .catalog__link.btn.btn--full Откликнуться
            a.catalog__block(href="")
                button.catalog__wish    
                    img(src="../img/main/wish.svg", alt="")
                .catalog__name Графический дизайнер
                .catalog__price 80 000 – 150 000 ₽
                .catalog__links
                    span Сбер банк 
                    span Санкт-Петербург
                .catalog__descr Проектирование и дизайн интерфейсов и сайтов. Внесение предложений по улучшению UX/UI проекта. Подготовка графических элементов и их экспорт для дальнейшего объединения в проектах...
                .catalog__bottom 
                    .catalog__link.btn.btn--full Откликнуться
            a.catalog__block(href="")
                button.catalog__wish    
                    img(src="../img/main/wish.svg", alt="")
                .catalog__name Графический дизайнер
                .catalog__price 80 000 – 150 000 ₽
                .catalog__links
                    span Сбер банк 
                    span Санкт-Петербург
                .catalog__descr Проектирование и дизайн интерфейсов и сайтов. Внесение предложений по улучшению UX/UI проекта. Подготовка графических элементов и их экспорт для дальнейшего объединения в проектах...
                .catalog__bottom 
                    .catalog__link.btn.btn--full Откликнуться