section.news
    .container
        h1.news__title Новости
        .news__wrap
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
            a.news__block(href="/article.html")
                span.news__img
                    img(src="../img/pages/news.jpg", alt="")
                span.news__date 01.10.2022
                span.news__name Какой английский нужен в ИТ-компаниях?
        .news__pag
            a.news__prev.disabled(href="/news.html")
                img(src="../img/pages/pag-prev.svg", alt="")
            span.current 1
            a(href="/news.html") 2
            a(href="/news.html") 3
            a(href="/news.html") 4
            span ...
            a(href="/news.html") 20
            a.news__next(href="/news.html")
                img(src="../img/pages/pag-next.svg", alt="")