section.price
    .container
        h1.price__title Тарифы
        .price__tabs
            button.active Пакеты
            button Услуги
        .price__cont
            .price__cont-block.active
                .table1
                    table
                        tr
                            td
                            td Бесплатный пакет
                            td Стандартный пакет
                            td Премиум пакет
                        tr
                            td Количество вакансий, включенных в пакет
                            td 1
                            td 5
                            td 15
                        tr
                            td Лимит вакансий внутри пакета
                            td 1
                            td 10
                            td 85
                        tr
                            td Доступ к базе резюме
                            td бесплатно
                            td бесплатно
                            td бесплатно
                        tr
                            td Бесплатные консультации юриста
                            td 1
                            td 3
                            td 15
                        tr
                            td Горящая вакансия (ТОП-3 в поиске)*
                            td 0
                            td 1
                            td 3
                        tr
                            td Оформление страницы компании**
                            td 0
                            td 3 месяца
                            td год
                        tr
                            td Дизайн-оформление вакансии (баннером)
                            td 0
                            td 1
                            td 5
                        tr
                            td Размещение логотипа компании в ленте на главной странице сайта
                            td 0
                            td 0
                            td месяц
                        tr
                            td Стоимость
                            td 0
                            td 4 900
                            td 29 900
                        tr
                            td Период активности
                            td месяц
                            td квартал
                            td год
            .price__cont-block
                .table2
                    table
                        tr
                            td
                            td Цена
                            td Период
                        tr.title
                            td Размещение вакансии
                            td(colspan="2")
                        tr
                            td 1
                            td 400
                            td 1 месяц
                        tr
                            td от 5
                            td 360
                            td 1 месяц
                        tr
                            td от 10
                            td 325
                            td 1 месяц
                        tr
                            td от 50
                            td 290
                            td 1 месяц
                        tr
                            td от 100
                            td 250
                            td 1 месяц
                        tr.title
                            td Горящая вакансия
                            td(colspan="2")
                        tr
                            td Вакансия отображается вверху страницы поиска при применении фильтров (при применении фильтров выбор региона и специализации)
                            td 3 000
                            td 10 дней
                        tr.title
                            td Брендинг
                            td(colspan="2")
                        tr
                            td Размещение баннера на страницы компании
                            td 25 000
                            td 1 год
                        tr
                            td Брендирование вакансии (1 шаблон)
                            td 15 000
                            td 1 год
                        tr.title
                            td Промо
                            td(colspan="2")
                        tr
                            td Размещение логотипа компании в ленте на главной странице сайта
                            td 5 000
                            td 10 дней
                        tr
                            td Брендирование главной страницы сайта вашим баннером
                            td 15 000
                            td 10 дней
                        tr
                            td Размещение баннера на странице поиска
                            td 10 000
                            td 10 дней
                        tr
                            td Брендирование страницы вакансии
                            td 5 000
                            td 10 дней
                        tr
                            td Личный кабинет
                            td 7 000
                            td 10 дней
                        tr
                            td Размещение вашей вакансии на главной странице сайта
                            td 7 000
                            td 10 дней
                        tr
                            td Доступ к базе
                            td Бесплатно
                            td