section.resume
    .container 
        h1.resume__title Резюме
        .resume__main 
            .resume__img 
                img(src="img/pages/resume-person.png", alt="")
            .resume__main-cont 
                .resume__date Резюме от 25.09.2022
                .resume__name Иванов Иван
                .resume__work Бухгалтер
        .resume__wrap 
            .resume__col 
                h2.resume__subtitle Основная информация
                .resume__line
                    | Дата рождения: 
                    b 07.10.1992
                .resume__line
                    | Страна, город: 
                    b Россия, Санкт-Петербург
                .resume__line
                    | Желаемая заработная плата: 
                    b 70 000 ₽–190 000 ₽  
            .resume__col 
                h2.resume__subtitle Контакты
                .vacancy__cont
                    span
                        img(src="../img/pages/email.svg", alt="")
                        | pr@allset.ru
                    span
                        img(src="../img/pages/phone.svg", alt="")
                        | 8 (800) 250-XX-XX
        .resume__block 
            h2.resume__subtitle 
                |Опыт работы: 
                br
                |8 лет 10 месяцев
            .resume-period
                .resume-period__date 
                    b Январь 2022 — по настоящее время
                    | 10 месяцев
                .resume-period__cont
                    .resume-period__title Название компании
                    .resume-period__subtitle Должность
                    p.resume-period__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
            .resume-period
                .resume-period__date 
                    b Апрель 2021 — Декабрь 2021
                    | 9 месяцев
                .resume-period__cont
                    .resume-period__title Название компании
                    .resume-period__subtitle Должность
                    p.resume-period__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
            .resume-period
                .resume-period__date 
                    b Апрель 2015 — Апрель 2021
                    | 6 лет
                .resume-period__cont
                    .resume-period__title Название компании
                    .resume-period__subtitle Должность
                    p.resume-period__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
        .resume__block 
            h2.resume__subtitle Образование
            .resume-list 
                .resume-list__el 
                    .resume-list__text 
                        .resume-list__title  СПБГУ
                        .resume-list__subtitle 
                            | Экономический, Санкт-Петербург
                            br
                            | Высшее, 09.2004—06.2009
                        p.resume-list__descr 
                            | Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так.
                            br
                            | Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
        .resume__block 
            h2.resume__subtitle Повышение квалификации
            .resume-list 
                .resume-list__el 
                    .resume-list__text 
                        .resume-list__title  Бухгалтерия и аудит
                        .resume-list__subtitle 
                            | учебный центр “Алево”, Москва
                            br
                            | 2011, 6 месяцев
                    .resume-list__imgs 
                        a.resume-list__img(data-fancybox href="img/pages/resume.png") 
                            img(src="img/pages/resume.png", alt="")
                        a.resume-list__img(data-fancybox href="img/pages/resume.png") 
                            img(src="img/pages/resume.png", alt="")
                .resume-list__el 
                    .resume-list__text 
                        .resume-list__title  Бухгалтерия и аудит
                        .resume-list__subtitle 
                            | учебный центр “Алево”, Москва
                            br
                            | 2011, 6 месяцев
        .resume__block 
            h2.resume__subtitle Образование
            .resume-list 
                .resume-list__el 
                    .resume-list__text 
                        .resume-list__title  Навыки работы с компьютером
                        p.resume-list__descr.small Уверенный пользователь 1С; пакета MS Office (на уровне эксперта).
                .resume-list__el 
                    .resume-list__text 
                        .resume-list__title  1С: Предприятие
                        p.resume-list__descr.small Уверенный пользователь 1С; пакета MS Office (на уровне эксперта).
                .resume-list__el 
                    .resume-list__text 
                        .resume-list__title  M.E.Doc 
                        p.resume-list__descr.small Уверенный пользователь 1С; пакета MS Office (на уровне эксперта).
        .resume__block 
            h2.resume__subtitle Знание языков
            .resume-list 
                .resume-list__el 
                    .resume-list__text 
                        .resume-list__title  Русский — родной
                .resume-list__el 
                    .resume-list__text 
                        .resume-list__title  Английский — средний
        .resume__block 
            h2.resume__subtitle Обо мне
            p.resume__descr Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.