section.vacancy
    .container 
        .vacancy__top Вакансия от 25.09.2022
        h1.vacancy__title Графический дизайнер
        .vacancy__price 80 000 – 150 000 ₽
        //- a.vacancy-banner(href="/")
        //-     .vacancy-banner__title Повар?
        //-     .vacancy-banner__subtitle Какова ваша профессия?
        //-     .vacancy-banner__bottom 
        //-         .vacancy-banner__text Повысь свое мастерство на курсах вместе с нами
        //-         .vacancy-banner__arrow
        //-             img(src="img/main/banner-arrow.svg", alt="")
        .vacancy__attr
            span 
                | Страна, город: 
                b Россия, Санкт-Петербург
            span 
                | Релокация:  
                b нет
            span 
                | Требуемый опыт работы: 
                b 1–3 года
            span 
                | Образование: 
                b высшее
            span 
                | Занятость:  
                b постоянная
        .vacancy__wrap 
            .vacancy__main 
                .vacancy__name JetBrains
                .vacancy__img 
                    img(src="img/pages/vacancy.png", alt="")
            .vacancy__right 
                .vacancy__subtitle Фактический адрес:
                .vacancy__cont Россия, Санкт-Петербург, Малая разночинная 9, офис 508
                .vacancy__subtitle Контакты:
                .vacancy__cont
                    span 
                        img(src="img/main/world.svg", alt="")
                        | jetbrains.com
                .vacancy__subtitle Контактное лицо: Дмитрий Петров
                .vacancy__cont
                    span
                        img(src="../img/pages/email.svg", alt="")
                        | pr@allset.ru
                    span
                        img(src="../img/pages/phone.svg", alt="")
                        | 8 (800) 250-XX-XX
        .vacancy__text 
            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
        .vacancy__bottom 
            a.btn.btn--full(href="/") Откликнуться
            //- a.btn.btn--black(href="/")  Задать вопрос работодателю